* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    text-decoration: none;
}

body {
    /* background: #f7f7ff; */
    background-image: url("https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}


#all {
    margin: 50px auto;
    text-align: center;
}

#cabecario {
    height: 65px;
    width: 42rem;
    background-color: #f7f7ff;
    margin: auto;
}

#cabecario h1 {
    border: 3px solid #069;
    color: #696969;
    text-align: center;

    background: #068;
    color: white;
    border-radius: 5px;
    padding: 0.7rem;
}

#all input[type="text"] {
    height: 32px;
    border-radius: 4px;
    border: 1px solid #c2bfbf;
}

#all input[type="text"]:nth-of-type(1) {
    margin-right: 20px;
}

#all #botao, #botaoLimpar {
    height: 28px;
    width: 75px;
    border: none;
    background: #069;
    color: white;
    border-radius: 5px;
    margin: 1rem;
    cursor: pointer;
}

#all #botao {
    outline: #069;
}

#all  #botaoLimpar  {
    background: orange;
    outline: orange;
}

#all #armazenandoResposta {
    height: 50px;
    width: 180px;
    border-radius: 5px;
    margin: 1rem auto;
    background: #ffffff;
    border: 1px solid #c2bfbf;
    line-height: 1.5rem;
}


#all #botao:hover{
    background-color: rgb(12, 123, 179);
}

#all #botaoLimpar:hover {
    background-color: rgb(240, 157, 4);
}

#tabela {
    margin: 2rem auto;
    width: 400px;
    height: 220px;
    background-color: white;
    border-collapse: collapse;
}

#topo {
    font-weight: bold;
    color: #000;
}

tr {
    color: #464444;
}

#span {
    text-justify: justify;
    border: 1px solid rgb(153, 148, 148);
    width: 50rem;
    border-radius: 5px;
    margin: 1.1rem auto;
    margin-top: 35px;
}

#title {
    margin-left: 1.5rem;
    margin-top: 0.rem;
    color:rgb(0, 0, 0)
}

#spans {
    margin: 30px;
    color: #000000;
}

#rodape {
    text-align: center;
}


